@{
    ViewBag.Title = "Dungeons and Dragons Companion Web Application";
}
<!DOCTYPE html>
<html>
    <!--Head section-->
    <head>
        <!--Metadata-->
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <!--Enabling client-side libraries-->
        <!--JQuery-->
        <script src="~/lib/jquery/jquery.min.js"></script>
        <!--Bootstrap stylesheet-->
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <!--Popper.js-->
        <script src="~/lib/popper.js/popper.min.js"></script>
        <script src="~/lib/popper.js/popper.js"></script>
        <script src="~/lib/popper.js/popper-utils.js"></script>

        <!--Bootstrap scripts-->
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <!--JQuery Validate-->
        <script src="~/lib/jquery-validate/dist/jquery.validate.min.js"></script>
        <!--JQuery Validate unobtrusive-->
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js/jquery.validate.unobtrusive.min.js"></script>
    </head>

    <!--Body section | Beginning of visible page content-->
    <body class="container-fluid d-flex justify-content-center flex-wrap">
        <!--Navigation Menu/Bar becomes vertical on small screens-->
        <div class=flex-column>
            <div class="order-0">
            <nav class="navbar fixed-top navbar-dark bg-dark">
            <!--Brand-->
            <a class="navbar-brand" href="~/Home/Index/">D&D</a>
            <ul class="nav navbar-nav d-flex flex-row mb-2">
                <li class="nav-item ml-1 mr-1">
                    <a class="nav-link" href="~/Home/Index/">Home</a>
                </li>
                <li class="nav-item ml-1 mr-1">
                    <a class="nav-link" asp-action="Characters">Characters</a>
                </li>
                <li class="nav-item ml-1 mr-1">
                    <a class="nav-link" href="~/Home/Dice/">Dice</a>
                </li>
                <!--Dropdown-->
                <li class="nav-item dropdown ml-1 mr-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assignments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="~/Chapter7Assignment/Index/">Assignment 6.1</a>
                    </div>
                </li>
            </ul>
        </nav>
        </div>
        <div class="order-1">
            <br />
            <br />
            <br />
        <header class="text-center d-flex flex-column flex-nowrap">
            <h2 class="order-1">@ViewBag.Title</h2>
            <h3 class="order-2">@ViewBag.Heading</h3>
            <h4 class="order-3">@ViewBag.SubHeading</h4>
        </header>
        </div>
        <div class="order-2">
            @RenderBody()
        </div>
        </div>
    </body>
</html>