@using dnd.Models.Characters
@model IEnumerable<Character>
@{
    ViewBag.Title = "Dungeons and Dragons Companion";
    ViewBag.Heading = "Dungeons and Dragons Companion: Final Project";
    ViewBag.SubHeading = "Existing Characters";
    Layout = "_Layout";
}
<!--Link that takes the user to the Create a Character action-->
<a asp-action="CreateCharacter" class="btn-link">
    <h6 style="text-align:center;">Create a New Character Sheet</h6>
</a>
<!--List of All Character Sheets-->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Race</th>
            <th>Level</th>
            <th>Alignment</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Character character in Model)
        {
            <tr>
                <td>@character.CharacterName</td>
                <td>@character.CharacterClass</td>
                <td>@character.CharacterRace</td>
                <td>@character.CharacterLevel</td>
                <td>@character.Alignment</td>
                <td>
                    <form asp-action="ViewCharacterSheet" method="post">
                        <button type="submit" class="btn btn-primary">
                            View Full Character Sheet
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
