@using dnd.Models.Characters
@model Character

<h3 style="text-align:center;">Character Detail View</h3>
<div style="text-align:center;">
    <h5>Name</h5>
    <h5>@Model.CharacterName</h5>
    <h5>Class</h5>
    <h5>@Model.CharacterClass</h5>
    <h5>Race</h5>
    <h5>@Model.CharacterRace</h5>
    <h5>Level</h5>
    <h5>@Model.CharacterLevel</h5>
    <h5>Background</h5>
    <h5>@Model.CharacterBackground</h5>
    <h5>Alignment</h5>
    <h5>@Model.Alignment</h5>
    <h5>XP</h5>
    <h5>@Model.ExperiencePoints</h5>
    <h5>Strength</h5>
    <h5>@Model.StrengthVal</h5>
    <h5>Dexterity</h5>
    <h5>@Model.DexterityVal</h5>
    <h5>Constitution</h5>
    <h5>@Model.ConstitutionVal</h5>
    <h5>Intelligence</h5>
    <h5>@Model.IntelligenceVal</h5>
    <h5>Wisdom</h5>
    <h5>@Model.WisdomVal</h5>
    <h5>Charisma</h5>
    <h5>@Model.CharismaVal</h5>
    <h5>Inspiration</h5>
    <h5>@Model.InspirationVal</h5>
    <h5>Proficiency Bonus</h5>
    <h5>@Model.ProficiencyBonusVal</h5>
    <h5>Saving Throws</h5>
    <h5>@Model.SavingThrows</h5>
    <h5>Armor Class</h5>
    <h5>@Model.ArmorClass</h5>
    <h5>Initiative</h5>
    <h5>@Model.InitiativeVal</h5>
    <h5>Speed</h5>
    <h5>@Model.SpeedVal</h5>
    <h5>HP (Current)</h5>
    <h5>@Model.CurrentHealth</h5>
    <h5>HP (Temporary)</h5>
    <h5>@Model.TemporaryHealth</h5>
    <h5>Hit Die</h5>
    <h5>@Model.HitDice</h5>
    <h5>Successful Death Saves</h5>
    <h5>@Model.DeathSaveSuccess</h5>
    <h5>Unsuccessful Death Saves</h5>
    <h5>@Model.DeathSaveFailure</h5>
    <h5>Personality Traits</h5>
    <h5>@Model.PersonalityTraits</h5>
    <h5>Ideals</h5>
    <h5>@Model..Ideals</h5>
    <h5>Bonds</h5>
    <h5>@Model.Bonds</h5>
    <h5>Flaws</h5>
    <h5>@Model.Flaws</h5>
    <h5>Additional Traits and Languages</h5>
    <h5>@Model.Traits</h5>
</div>