@using dnd.Models.Characters
@model Character
@{
    // Use these ViewBag values to change the header for the page
    //ViewBag.Heading = Model.CharacterName.ToString();
    ViewBag.SubHeading = "Detail View";
    Layout = "_Layout";
}
<h3 style="text-align:center;">Character Detail View</h3>
<div style="text-align:center;">
    <h4>Name</h4>
    <h6>@Model.CharacterName</h6>
    <h4>Class</h4>
    <h6>@Model.CharacterClass</h6>
    <h4>Race</h4>
    <h6>@Model.CharacterRace</h6>
    <h4>Level</h4>
    <h6>@Model.CharacterLevel</h6>
    <h4>Background</h4>
    <h6>@Model.CharacterBackground</h6>
    <h4>Alignment</h4>
    <h6>@Model.Alignment</h6>
    <h4>Speed</h4>
    <h6>@Model.SpeedVal</h6>
    <h4>HP (Current/Max)</h4>
    <h6>@Model.CurrentHealth</h6>

    <h4>HP (Current/Temporary)</h4>
    <h6>@Model.TemporaryHealth</h6>
    <form asp-action="EditHealth" asp-route-id="@Model.CharacterId">
        <input id="hp_id" name="hp" />
        <button type="submit">Update</button>
    </form>

    <h4>XP</h4>
    <h6>@Model.ExperiencePoints</h6>
    <h4>Hit Die</h4>
    <h6>@Model.HitDice</h6>
    <h4>Strength</h4>
    <h6>@Model.StrengthVal</h6>
    <h4>Dexterity</h4>
    <h6>@Model.DexterityVal</h6>
    <h4>Constitution</h4>
    <h6>@Model.ConstitutionVal</h6>
    <h4>Intelligence</h4>
    <h6>@Model.IntelligenceVal</h6>
    <h4>Wisdom</h4>
    <h6>@Model.WisdomVal</h6>
    <h4>Charisma</h4>
    <h6>@Model.CharismaVal</h6>
    <h4>Inspiration</h4>
    <h6>@Model.InspirationVal</h6>
    <h4>Proficiency Bonus</h4>
    <h6>@Model.ProficiencyBonusVal</h6>
    <h4>Saving Throws</h4>
    <h6>@Model.SavingThrows</h6>
    <h4>Armor Class</h4>
    <h6>@Model.ArmorClass</h6>
    <h4>Initiative</h4>
    <h6>@Model.InitiativeVal</h6>
    <h4>Successful Death Saves</h4>
    <h6>@Model.DeathSaveSuccess</h6>
    <h4>Failed Death Saves</h4>
    <h6>@Model.DeathSaveFailure</h6>
    <h4>Personality Traits</h4>
    <h6>@Model.PersonalityTraits</h6>
    <h4>Ideals</h4>
    <h6>@Model.Ideals</h6>
    <h4>Bonds</h4>
    <h6>@Model.Bonds</h6>
    <h4>Flaws</h4>
    <h6>@Model.Flaws</h6>
    <h4>Additional Traits and Languages</h4>
    <h6>@Model.Traits</h6>
</div>