@using dnd.Models.Characters
@model Character
@{
    // Use these ViewBag values to change the header for the page
    //ViewBag.Heading = Model.CharacterName.ToString();
    ViewBag.SubHeading = "Detail View";
    Layout = "_Layout";
}
<h3 style="text-align:center;">Character Detail View</h3>
<div style="text-align:center; margin:10%; margin-top:auto;">
    <table class="table table-bordered table-striped" style="text-align:center;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Race</th>
                <th>Level</th>
                <th>Alignment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.CharacterName</td>
                <td>@Model.CharacterClass</td>
                <td>@Model.CharacterRace</td>
                <td>@Model.CharacterLevel</td>
                <td>@Model.Alignment</td>
            </tr>

        </tbody>
    </table>
    <table class="table table-bordered table-striped" style="text-align:center;">
        <thead>
            <tr>
                <th>Background</th>
                <th>Maximum Health</th>
                <th>Current Health</th>
                <th>Update Current Health</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.CharacterBackground</td>
                <td>@Model.CurrentHealth</td>
                <td>@Model.TemporaryHealth</td>
                <td>
                    <form asp-action="EditHealth" asp-route-id="@Model.CharacterId">
                        <input id="hp_id" name="hp" />
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped" style="text-align:center;">
        <thead>
            <tr>
                <th>Speed</th>
                <th>XP</th>
                <th>Hit Die</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.SpeedVal</td>
                <td>@Model.ExperiencePoints</td>
                <td>@Model.HitDice</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped" style="text-align:center;">
        <thead>
            <tr>
                <th>Strength</th>
                <th>Speed</th>
                <th>Constitution</th>
                <th>Intelligence</th>
                <th>Wisdom</th>
                <th>Charisma</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.StrengthVal</td>
                <td>@Model.SpeedVal</td>
                <td>@Model.ConstitutionVal</td>
                <td>@Model.IntelligenceVal</td>
                <td>@Model.WisdomVal</td>
                <td>@Model.CharismaVal</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped" style="text-align:center;">
        <thead>
            <tr>
                <th>Inspiration</th>
                <th>Proficiency</th>
                <th>Saving Throws</th>
                <th>Armor Class</th>
                <th>Initiative</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.InspirationVal</td>
                <td>@Model.ProficiencyBonusVal</td>
                <td>@Model.SavingThrows</td>
                <td>@Model.ArmorClass</td>
                <td>@Model.InitiativeVal</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped" style="text-align:center;">
        <thead>
            <tr>
                <th>Death Save Success</th>
                <th>Death Save Failure</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.DeathSaveSuccess</td>
                <td>@Model.DeathSaveFailure</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped" style="text-align:center;">
       <thead>
           <tr>
               <th>Personality Traits</th>
               <th>Ideals</th>
               <th>Bonds</th>
               <th>Flaws</th>
               <th>Additional Traits + Languages</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>@Model.PersonalityTraits</td>
               <td>@Model.Ideals</td>
               <td>@Model.Bonds</td>
               <td>@Model.Flaws</td>
               <td>@Model.Traits</td>
           </tr>
       </tbody>
   </table>
</div>